.DrawSystem {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  max-width: 100%;
}
.DrawSystem .DrawContainer-chart {
  position: relative;
  min-width: 100%;
  width: 800px;
  max-width: 100%;
  background-color: #f7f9fb;
  border-radius: 5px;
  padding: 50px;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow: scroll;
}
@media (max-width: 1200px) {
  .DrawSystem .DrawContainer-chart {
    width: 500px;
  }
}
@media (max-width: 772px) {
  .DrawSystem .DrawContainer-chart {
    width: 300px;
  }
}
.DrawSystem .DrawContainer-chart::-webkit-scrollbar {
  height: 2px;
  cursor: pointer;
}
.DrawSystem .DrawContainer-chart > .left,
.DrawSystem .DrawContainer-chart > .right {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.DrawSystem .DrawContainer-chart .card-played-box {
  position: relative;
  display: flex;
  align-items: center;
}
.DrawSystem .DrawContainer-chart .right .card-played-box {
  flex-direction: row-reverse;
}

.DrawSystem .DrawContainer-chart .card-played-box .left-played {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.DrawSystem .DrawContainer-chart .card-played-box .right-played {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.DrawSystem .DrawContainer-chart .winner {
  position: relative;
  display: flex;
  flex-direction: row-reverse;
  gap: 80px;
  margin-bottom: 0px;
}

.DrawSystem .DrawContainer-chart .winner::before {
  position: absolute;
  content: "";
  width: 130px;
  height: 130px;
  background-image: url("../../../../../../../../public/Draw/winner.svg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: contain;
  top: -100%;
  right: 50%;
  transform: translateX(50%);
}
