/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# match-box-container
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.match-box-container {
  position: relative;
  box-shadow: 0px 4px 34.4px 0px #0000000a;
  padding: 30px 20px 20px 20px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  overflow: hidden;
  height: fit-content;
  transition: var(--main-transition);
}
.match-box-container.open {
  padding: 30px 20px 40px 20px;
}
.match-box-container::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 30px;
  background-color: #e6ecf1;
  bottom: 10%;
  right: 0;
  transform-origin: right top;
  transition: var(--main-transition);
  transform: rotate(-45deg);
  z-index: -1;
}
.match-box-container.open::before {
  transform: rotate(-50deg);
  bottom: 35%;
  width: 100%;
  height: 35px;
}
.match-box-container::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 70px;
  background-color: #e6ecf1;
  bottom: 25%;
  right: 0;
  transform-origin: right top;
  transition: var(--main-transition);
  transform: rotate(-45deg);
  z-index: -1;
}
.match-box-container.open::after {
  transform: rotate(-50deg);
  bottom: 110px;
  height: 35px;
}
.match-box-container .General-Info {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  z-index: 3;
}
.match-box-container .General-Info h3 {
  position: relative;
  font-size: 18px;
  font-weight: 400;
  color: #004077;
}
.match-box-container .General-Info .actions {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.match-box-container .General-Info .actions .time {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  color: #37434a;
}
.match-box-container .General-Info .actions div {
  position: relative;
  height: 20px;
}
.match-box-container .General-Info .actions img {
  position: relative;
  width: auto;
  height: 100%;
  cursor: pointer;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# match-box-container details
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.match-box-container .DetailsCotainer-box {
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-top: -700%;
  opacity: 0;
  transition: var(--main-transition);
}
.match-box-container .DetailsCotainer-box.open {
  margin: 0;
  opacity: 1;
}
.match-box-container .More-Matches-details {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  border-top: 1px solid #e7e8e9;
}
@media (max-width: 772px) {
  .match-box-container .More-Matches-details {
    flex-direction: column;
    justify-content: center;
    gap: 10px;
  }
}
.match-box-container .More-Matches-details .match-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}
@media (max-width: 992px) {
  .match-box-container .More-Matches-details .match-box {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
}
.match-box-container .More-Matches-details .match-box .user-box {
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;
}
.match-box-container .More-Matches-details .match-box .user-box span {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #737c81;
}
.match-box-container .More-Matches-details .match-box .user-box img {
  position: relative;
  border-radius: 50%;
  object-fit: cover;
}
.match-box-container .More-Matches-details .match-box .user-box h4 {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  color: #004077;
  cursor: pointer;
}
.match-box-container .More-Matches-details .vs {
  position: relative;
  height: 80px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.match-box-container .More-Matches-details .vs img {
  height: 100%;
  width: 100%;
}
