.ForgotPassword .ResetBox2 {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
    # Reset box
    ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ForgotPassword .container .ResetBox2 .ResetBox {
  position: relative;
  height: 80%;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition: var(--main-transition);
}
@media (max-width: 772px) {
  .ForgotPassword .container .ResetBox2 .ResetBox {
    justify-content: center;
    height: fit-content;
  }
}
.ForgotPassword .container .ResetBox2 .ResetBox h1 {
  position: relative;
  color: #e6ecf1;
  font-weight: 600;
  font-size: 33px;
  margin: 0;
  letter-spacing: 1;
  width: 100%;
  text-align: center;
}
.ForgotPassword .container .ResetBox2 .ResetBox p {
  position: relative;
  width: 80%;
  font-size: 14px;
  font-weight: 300;
  color: #e6ecf1;
  text-align: center;
}
@media (max-width: 772px) {
  .ForgotPassword .container .ResetBox2 .ResetBox p {
    text-align: center;
    width: 100%;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
      # Inputs
      ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ForgotPassword .container .ResetBox2 .ResetBox .OTP-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
}
.ForgotPassword .container .ResetBox2 .ResetBox .OTP-box > div {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.ForgotPassword .container .ResetBox2 .ResetBox .OTP-box input {
  position: relative;
  min-width: 50px;
  max-width: 100%;
  height: 50px;
  border: 1.5px solid #e6ecf1;
  background-color: transparent;
  color: #fff;
  border-radius: 5px;
  font-size: 45px;
  font-weight: bold;
}
@media (max-width: 772px) {
  .ForgotPassword .container .ResetBox2 .ResetBox .OTP-box input {
    position: relative;
    background-color: #fff;
    color: #81e200;
  }
}
.ForgotPassword .container .ResetBox2 .ResetBox .OTP-box input:focus {
  outline: none;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
      # Actions
      ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ForgotPassword .container .ResetBox2 .ResetBox .Action-button {
  position: relative;
  width: 80%;
  margin-top: 15px;
}
@media (max-width: 772px) {
  .ForgotPassword .container .ResetBox2 .ResetBox .Action-button {
    width: 100%;
  }
}
.ForgotPassword .container .ResetBox2 .ResetBox .Action-button button {
  position: relative;
  width: 100%;
  padding: 12px;
  background-color: #81e200;
  border-radius: 10px;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  cursor: pointer;
}
