/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Change_Password
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Change_Password {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: calc(100vh - 140px);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Change_Password NaviGation
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Change_Password .NaviGation {
  position: relative;
  display: flex;
  gap: 8px;
  align-items: center;
  font-size: 14px;
  font-weight: 300;
  color: #6d747b;
  margin-bottom: 10px;
}
.Change_Password .NaviGation a.Active {
  position: relative;
  font-weight: 600;
  color: #2f3942;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Change_Password Change_Password-box
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Change_Password .Change_Password-box {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0px 4px 34.4px 0px #0000000f;
  border-radius: var(--main-border-radius);
  padding: 30px;
  height: 100%;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Change_Password Change_Password-box head
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Change_Password .Change_Password-box .Change_Password-head {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  border-bottom: 1px solid #e7e8e9;
  padding: 0 0 20px 0;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Change_Password Change_Password-box Change_Password-body
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.Change_Password .Change_Password-box .Change_Password-body {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.Change_Password .Change_Password-box .Change_Password-body .GeneralInfo {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Change_Password
  .Change_Password-box
  .Change_Password-body
  .GeneralInfo
  > span {
  position: relative;
  font-size: 16px;
  font-weight: 400;
  text-align: left;
  color: #6b90b0;
  margin-bottom: 20px;
}

.Change_Password .Change_Password-box .Change_Password-body .box-Input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.Change_Password .Change_Password-box .Change_Password-body .box-Input label {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #545f71;
}
.Change_Password .Change_Password-box .Change_Password-body .input-container {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border: 1px solid #e7e8e9;
  border-radius: 8px;
  width: 400px;
}
@media (max-width: 772px) {
  .Change_Password .Change_Password-box .Change_Password-body .input-container {
    width: 100%;
  }
}
.Change_Password
  .Change_Password-box
  .Change_Password-body
  .input-container
  input {
  position: relative;
  width: 100%;
  border: 0;
  outline: 0;
  height: 100%;
  font-size: 14px;
  font-weight: 300;
  text-align: left;
  color: #545f71;
}
.Change_Password
  .Change_Password-box
  .Change_Password-body
  .input-container
  img {
  position: relative;
  width: 20px;
  cursor: pointer;
}

.Change_Password .Change_Password-box .Change_Password-body .action button {
  position: relative;
  width: 300px;
  background-color: #81e200;
  color: #fff;
  border-radius: 8px;
  padding: 12px;
  text-align: center;
  border: 0;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
}
@media (max-width: 772px) {
  .Change_Password .Change_Password-box .Change_Password-body .action button {
    width: 100%;
  }
}
