/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# TimeModel
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 99;
  background: #00000033;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--main-transition);
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # TimeModel TimeModel-details-box
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel .TimeModel-details-box {
  position: relative;
  background: #ffffff;
  border-radius: 10px;
  min-width: 350px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  animation: fading 0.5s ease-in-out;
}
@keyframes fading {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # TimeModel TimeModel-details-box  TimeHead
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel .TimeModel-details-box .TimeHead {
  position: relative;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eef1f4;
}
.TimeModel .TimeModel-details-box .TimeHead span {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  color: #004077;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # TimeModel TimeModel-details-box  TimeBody
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel .TimeModel-details-box .TimeBody {
  position: relative;
  padding: 15px 10px 5px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 15px;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # TimeModel TimeModel-details-box Sets
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel .TimeModel-details-box .sets-box {
  position: relative;
  display: flex;
  gap: 10px;
  width: 100%;
}
.TimeModel .TimeModel-details-box .sets-input {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.TimeModel .TimeModel-details-box .sets-input .input-box {
  position: relative;
  border: 1px solid #e7e8e9;
  outline: 0;
  color: #545f71;
  height: 50px;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.TimeModel .TimeModel-details-box .sets-input .input-box input {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: 0;
  outline: 0;
  color: #6d747b;
  font-weight: 300;
  font-size: 14px;
}
.TimeModel .input-box input[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 1;
  display: block;
  background: url("../../../../../../../../../public/Matches/calendar.svg")
    no-repeat;
  width: 15px;
  height: 15px;
  border-width: thin;
  background-size: contain;
  cursor: pointer;
}
.TimeModel .input-box input::-webkit-outer-spin-button,
.TimeModel .input-box input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.TimeModel .TimeModel-details-box .sets-input .input-box input[type="number"] {
  -moz-appearance: textfield;
}
.TimeModel .TimeModel-details-box .sets-input label {
  position: relative;
  font-size: 16px;
  font-weight: 300;
  color: #545f71;
}
/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # TimeModel TimeModel-details-box Sets
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.TimeModel .TimeModel-details-box .sets-action-box {
  position: relative;
  display: flex;
  align-items: center;
  gap: 7px;
  padding: 10px;
}
.TimeModel .TimeModel-details-box .sets-action-box button {
  position: relative;
  width: 100%;
  padding: 13px;
  border: 0;
  border-radius: 10px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 400;
  transition: var(--main-transition);
}
.TimeModel .TimeModel-details-box .sets-action-box button.Clear {
  background-color: #f2fce6;
  color: #2f3942;
}
.TimeModel .TimeModel-details-box .sets-action-box button.Apply {
  background-color: #81e200;
  color: #ffffff;
}
