/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
# Login
ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ForgotPassword {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  text-transform: var(--main-transition);
}
.ForgotPassword.BackGround1 {
  background-image: url("../../../../public/reset1.jpeg");
}
.ForgotPassword.BackGround2 {
  background-image: url("../../../../public/reset2.jpeg");
  animation: FadeOut1 0.5s ease-in-out alternate;
}
.ForgotPassword.BackGround3 {
  background-image: url("../../../../public/reset3.jpeg");
  animation: FadeOut2 0.5s ease-in-out alternate;
}
@keyframes FadeOut1 {
  from {
    background-image: url("../../../../public/reset1.jpeg");
  }
  to {
    background-image: url("../../../../public/reset2.jpeg");
  }
}
@keyframes FadeOut2 {
  from {
    background-image: url("../../../../public/reset2.jpeg");
  }
  to {
    background-image: url("../../../../public/reset3.jpeg");
  }
}
.ForgotPassword::before {
  position: absolute;
  content: "";
  background-color: #004077;
  width: 100%;
  height: 100%;
  opacity: 0.2;
  top: 0;
  left: 0;
}

.ForgotPassword .container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/*ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ
  # Ball box
  ــــــــــــــــــــــــــــــــــــــــــــــــــــــــــــ*/
.ForgotPassword .container .BallBox {
  position: relative;
  width: 550px;
  height: 550px;
  max-width: 100%;
  padding: 43px;
  backdrop-filter: blur(8px);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
}
@media (max-width: 772px) {
  .ForgotPassword .container .BallBox {
    border-radius: 0;
    backdrop-filter: blur(0px);
  }
}
.ForgotPassword .container .BallBox::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 1;
  background-image: url("../../../../public/Ball.svg");
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  background-color: rgba(52, 117, 164, 0.2);
  border-radius: 50%;
}
@media (max-width: 772px) {
  .ForgotPassword .container .BallBox::before {
    border-radius: 0;
    background-color: transparent;
  }
  .ForgotPassword .container .BallBox {
    border-radius: 0;
    height: 100vh;
    padding: 10px 0;
  }
}
