.NoTournaments {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 100%;
  min-height: calc(100vh - 140px);
}
.NoTournaments .Image-Animation {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.NoTournaments .Image-Animation img {
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  transition: var(--main-transition);
}

.NoTournaments > h1 {
  position: relative;
  font-size: 35px;
  font-weight: 600;
  color: #004077;
}

.NoTournaments > p {
  position: relative;
  font-size: 14px;
  font-weight: 300;
  color: #37434a;
  width: 320px;
  max-width: 100%;
  text-align: center;
}

.NoTournaments .actions {
  position: relative;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}
.NoTournaments .actions .Create {
  position: relative;
  padding: 16px 12px;
  background-color: #81e200;
  border-radius: 8px;
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  border: 0;
  width: 200px;
  text-align: center;
  cursor: pointer;
}
